<!DOCTYPE html>
<html>
<head>
  <title>Doork</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>


<% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, data: {confirm: '确认退出登录吗?'}, title: '退出登录', class: '' do %>
        退出登录
    <% end %>

<% else %>
    <%= link_to '注册', new_user_registration_path %>
    <%= link_to '登录', new_user_session_path %>
<% end %>
<%= yield %>

</body>
</html>
